.header {
  background: black;
  color: white;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: 0.2s;
} 


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 13px;
}

#fixed {
	border-style: solid;
	margin-top: 2px;
  margin-right: 5px;
	border-color: black;
	background-color: black;
	position: fixed; 
  right:0;
  top: 65px;
  height: 30px;

}

#chef {
  position:fixed;
  margin-top: 0px; 
  margin-left: 0px;
  top:0; 
  left:0; 
}

#right {
  position:fixed;
  margin-top: 5px; 
  margin-right: 0px;
  top:0; 
  right:0; 
}

body {
	background-image: url("images/0.jpg");
  height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
} 


#breakfast {
	margin-top: 60px;
	margin-bottom: 40px;
}

.fix {
  background-color: black;
  color: white;
}